@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*
Main
*/
.roboto {
  font-family: 'Roboto', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.cust-purple {
  color: #872D83 !important;
}

.cust-yellow {
  color: #EFB100;
}

/*
Navbar
*/

.website-logo {
  width: 120px;
  height: auto;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #872D83;
    font-size: 13px;
    border-bottom: 3px solid transparent;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #EFB100;
    border-bottom: 3px solid #EFB100;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link:active {
    color: #EFB100;
    border-bottom: 3px solid #EFB100;
}

.dropdown-menu {
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
}

.navbar .dropdown-menu a:not(.active) {
    color: #872D83;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.navbar .dropdown-menu a:not(.active):hover {
    color: #EFB100;
}

#phone-number {
  font-size: 13px;
  font-weight: 550;
}

.purple-button {
  background-color: #872D83 !important;
}

/*
Header section
*/

.pagination .page-item.active .page-link {
  background-color: #09c; }

.page-footer {
    background-color: #114A7C; }

 /* Blog section  */
.card-comments img {
  width: 4rem; }

.card-intro {
  margin-top: 67px; }
  .card-intro .card-body {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important; }

.card-avatar img {
  width: 100px; }

/* Blog section  */

/* E-commerce section  */
.table-products img {
  max-width: 200px;
  max-height: 200px; }

.table-products tr th, .table-products tr td {
  vertical-align: middle; }

ins {
      text-decoration: none;
}

.w-100px{
  width: 100px;
}

.white-text>a {
  color: white;
}
/* E-commerce section  */

